@import 'tailwindcss';

@custom-variant dark (&:is(.dark, .dark *));
@custom-variant light (&:is(.light, .light *));
@custom-variant auto (&:is(.auto, .auto *));

@layer base {
  html.dark {
    &,
    * {
      color-scheme: dark;
    }
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
